body {

    background: #f7f7f7;
    font-family: arial;
    height: 1fr;
    margin: 0px;

    display: block;


}

#logo {

    display: block;
    max-width: 100%;
    justify-self: center;
    margin: 50px;

    /*

    Também é possível incluir a imagem em uma <div> e centralizar da maneira a seguir:

    widith: 200px (tamanho que preferir, não sendo nem 100% nem auto)
    margin: auto;
    
    */

}

#abas {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
    
}

.opcoes {
    
    background: white;
    padding: 15px 30px;
    border-radius: 5px;

}

#content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width:1000px;
    max-height: 1000px;
    justify-self: center;
    font-size: 20px;

}

#a1x1 {

    /* border: 5px solid #ee2211; */
    
    grid-column: 1;
    grid-row: 1;

    background: white;
    align-content: center;
    justify-content: right;

    
}

#adjust1x1 {
    
    padding-right: 20px;
    
    text-align: right;

}

#a1x1 button {
    
    padding: 15px 30px;
    background: #ee2211;
    color: white;
    border: none;
    border-radius: 5px;
    
}

#detail {

    grid-row: 1;
    grid-column: 1/-1;
    z-index: 1;

    justify-self: center;

    margin-top: 25px;

    width: 60px;
    height: 4px;
    background: #ee2211;

}

#a1x2 {
    
    /* border: 5px solid blue; */

    grid-column: 2;
    grid-row: 1;
    
}

#a1x2 img {

    display: grid;
    max-width: 100%;

}

#a2x1 {
    
    /* border: 5px solid yellow; */

    grid-column: 1;
    grid-row: 2;
    
    color: #c6c6c6;
    font-size: 26px;
    align-self: center;
    text-align: right;
    padding-right: 20px;

}

#a2x2 {
    
    /* border: 5px solid rgb(242, 7, 207); */

    grid-column: 2;
    grid-row: 2;

    background: white;
    
}

#adjust2x2 {

    place-self: center;

}

#a2x2 p {

    margin-top: 0px;
    padding-left: 40px;
    max-width: 300px;

}

.icons {

    display: flex;
    gap: 15px;

}

#rodape {

    font-size: 20px;

    background: white;
    padding: 20px;

    margin-top: 100px;

    align-content: center;
    text-align: center;

}
